*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html {
    background-color: rgb(58, 58, 58);
    color:aliceblue;
}

.navbar {
    width: 100%;
    margin: 10;
    padding: 10;
    position: fixed;
    display: block;
    top: 0;
    height: 50px;
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

main {
    margin-top: 50px;
    margin-left: 20px;
    height: 5000px;
}

h1 {
    text-align: center;
    margin: 100px 0 25px -20px;
    font-size: 40px;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
}

section {
    padding-top: 50px;
}

.navlink {
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
    color:aliceblue;
    text-decoration: none;
}

.navlink:hover {

    text-decoration: underline;
    color: black;

}

.dropdown {
    position: relative;
    margin-top: 0;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightslategray;
    width: 100px;
    padding: 12px 20px;
    border: black solid;
    z-index: 1;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    left: -25px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.section {
    color: aliceblue;
    text-decoration: none;
}

.section:hover {
    color: black;
    text-decoration: underline;
}

.navtitle {
    position:fixed;
    left:1%;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 1000px) {
    .navtitle {
        font-size: 20px;
    }
    .navlink {
        font-size: 18px;
        margin-left: 8px;
        margin-right: 8px;
    }
    .dropdown {
        margin-top: 0;
    }
    .dropdown-content {
        border-color: black;
        left: -40px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25;
    }
}

p {
    font-size: 20px;
}

li {
    margin-left: 1%;
}


