{% extends "layout.html" %}
{% block content %}
    <section>
        <h1>About the website</h1>
    </section>
    <section>
        <h2>how it was made</h2>
        <ul>
        <li><p>this website was made with the python framework flask</p></li>
        <li><p>all of the css, html and python was written by me</p></li>
        <li><p>it is running on a cloud server from linode</p></li>
        <li><p><a href="https://github.com/seanm3156/personal-site">link</a> to the code</p></li>
        </ul>
    </section>
{% endblock content %}
