{% extends "layout.html" %}
{% block content %}
    <section>
        <h1>Welcome to my personal website!</h1>
    </section>
    <section id="about-me">
        <h2>About Me</h2>
        <ul>
            <li><p>Hello, my name is Sean Mckeown</p></li>
            <li><p>Im in my sixth year of high school</p></li>
            <li><p>I have 2 dogs, called Luna and Juno</p></li>
            <div class="image">
                <img src="{{ url_for('static', filename='dogpic.jpg') }}" alt="picture of my dogs">
            </div>
        </ul>
    </section>
    <section id="school">
        <h2 >School</h2>
        <ul>
            <li><p>I am in my sixth year</p></li>
            <li><p>I study advanced maths, advanced physics, cyber security and admin</p></li>
        </ul>
    </section>
    <section id="intrests">
        <h2>Intrests</h2>
        <ul>
            <li><p>Guitar - I have been playing for a few months</p></li>
            <li><p>linux - I use archlinux on my laptop</p></li>
            <li><p>Chess - I like to play chess online and in the school chess club</p></li>
            <li><p>Programming - I have been learning C and python online and enjoy creating programs <a href="https://github.com/seanm3156">(Github link)</a></p></li>
        </ul>
    </section>
{% endblock content %}
