{% extends "layout.html" %}
{% block content %}
    <section>
        <h1>Welcome to my personal website!</h1>
    </section>
    <section id="about-me">
        <h2>About Me</h2>
        <ul>
            <li><p>Hello, my name is Sean Mckeown</p></li>
            <li><p>Im in my sixth year of school</p></li>
            <li><p>I have 2 dogs, called Luna and Juno</p></li>
            <div class="image">
                <img src="{{ url_for('static', filename='dogpic.jpg') }}" alt="picture of my dogs">
            </div>
        </ul>
    </section>
    <section id="school">
        <h2 >School</h2>
        <ul>
            <li><p>I am in my sixth year</p></li>
            <li><p>I study advanced maths, advanced physics, cyber security and admin</p></li>
        </ul>
    </section>
    <section id="intrests">
        <h2>Intrests</h2>
        <ul>
            <li><p>Guitar - I have been playing for a few months</p></li>
            <li><p>linux - i use archlinux on my laptop and use the i3wm window manager</p></li>
            <li><p>Programming - use freecodecamp and have been learning and using C and python through youtube</p></li>
        </ul>
    </section>
    <section id="projects">
        <h2>Projects</h2>
        <ul>
            <li><p>I made a python program to decipher a message encrypted with Caesars cipher</p></li>
            <li><p>I made a password manager in python</p></li>
            <li><p>I made a tic-tak-toe game</p></li>
            <li><p>I made a python program to find and display the weather of scottish cities from a website</p></li>
            <li><p>I made this website with the python framework flask and some html/css</p></li>
            <li><p><a href="https://github.com/seanm3156">Github</a>link</p></li>
        </ul>
    </section>
{% endblock content %}