<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
    <title>Sean`s Website - {{ title }}</title>
    {% else %}
    <title>Sean`s Website</title>
    {% endif %}
</head>
<body>
    
    <nav>
        <div class="navbar">
            <a class="navtitle" href="{{ url_for('home') }}">Seans Website</a>
            <a class="navlink" href="{{ url_for('home') }}">Home</a>
            <a class="navlink" href="{{ url_for('about') }}">About</a>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>