<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
    <title>Sean`s Website - {{ title }}</title>
    {% else %}
    <title>Sean`s Website</title>
    {% endif %}
</head>
<body>
    
    <nav>
        <div class="navbar">
            <a class="navtitle" href="{{ url_for('home') }}">Sean`s Website</a>
            <div class="navlink dropdown">
                Sections
                <div class="dropdown-content">
                    <div class="section"><a href="/#about-me" class="section-link" >About Me</a></div>
                    <div class="section"><a href="/#school" class="section-link" >School</a></div>
                    <div class="section"><a href="/#intrests" class="section-link" >Intrests</a></div>
                    <div class="section"><a href="/#projects" class="section-link" >Projects</a></div>
                </div>
            </div>
            <a class="navlink" href="{{ url_for('home') }}">Home</a>
            <a class="navlink" href="{{ url_for('about') }}">About</a>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>